
.gender {
    padding: 10px 20px 20px;
    display: flex;
}

.gender_image {
    margin-right: 10px;
    max-width: 250px;
    object-fit: contain;
    align-self: flex-start;
}
.gender_text {
    flex: 1 1 auto;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*p {
        margin-top: 5px; 
    }*/
}
